@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
  background: #1C2333;
  font-family: 'Poppins', sans-serif;

} 
  .container {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
  }

  
  .todosContainer {
    width: 55%;
    padding: 18px 24px;
  }
  
  .todosContainer h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
  
  }
  
  .todo {
    color:#fff; 
    background: #2A3244;
    box-shadow: 11px 10px 20px 2px rgba(18,17,17,0.87);
   -webkit-box-shadow: 11px 10px 20px 2px rgba(18,17,17,0.87);
   -moz-box-shadow: 11px 10px 20px 2px rgba(18,17,17,0.87);
    margin-bottom: 20px;
    display: flex;
    min-height: 80px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  
  .todo-delete button {
    height: 30px;
    width: 30px;
    background: red;
    color: #fff;
    border: none;
    font-size: 24px;
  }

